.create-survey-main{
  flex: auto;
}

.navbarHeading {
  background-color: rgb(149,148,148);
  height: 70px;
}
.navbar {
  height: 50px;
}

.createSurveyHeading {
  color: #2d5be7e3;
  margin-left: 40px;
  padding-top: 9px;
}
.createSurveysubHeading {
  margin-left: 40px;
  color: rgb(113 113 113);
}
.bodyHeading {
  margin-top: 40px;
}
.input1 {
  margin-top: 50px;
  border: 2px solid rgba(224, 224, 86, 0.863);
  border-radius: 7px;
  width: 250px;
  height: 60px;
}

.teaxtareafield {
  margin-top: 40px;
  border: 2px solid rgba(224, 224, 86, 0.863);
  border-radius: 7px;
  width: 500px;
  height: 120px;
}
::placeholder {
  padding: 12px;
}

.footerline {
  border: 1.3px solid #ceced4cf;
  margin-top: 320px;
}

.btncs {
  font-size: 18px;
  width: 180px;
  color: rgb(113 113 113);
  height: 55px;
  background-color: rgba(121, 128, 128, 0.25);
  margin-top: 20px;
  padding: 2px, 2px, 2px, 2px;
  border: 0px solid rgba(121, 128, 128, 0.25);
}
